/*-----------------------------------*\
                $LABELS
\*-----------------------------------*/

.lbl-header{
    display: block;
    font-family: $basefont;
    font-size: 32px;
    padding-top: 20px;
}

.lbl-form{
    text-align: center;
    display: block ;
    font-size: 20px;
    color: $color-black;
    padding-top: 8px;
    margin: 8px;

}


